.newsletter-bg {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

.newsletter-main {
  width: 576px;
  max-width: 768px;
  background: #fff;
  margin: 0 auto;
  border-collapse: collapse;
}

.newsletter-content {
  padding: 0;
}
