/* Toast container */
#toast_container {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Toast base style */
.toast {
  width: 30vw;
  max-width: 400px;
  min-width: 260px;
  box-sizing: border-box;
  padding: 1em 1.5em;
  border-radius: 8px;
  color: #fff;
  background: white;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: clamp(1rem, 2vw, 16px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  animation: toast-in 0.4s cubic-bezier(0.4, 2, 0.6, 1) forwards;
  display: flex;
  align-items: center;
  gap: 12px;
  pointer-events: auto;
  cursor: pointer;
  transition: opacity 0.3s, margin 0.4s, transform 0.4s, max-height 0.4s, padding 0.4s, width 0.4s;
  max-height: 80px; /* adjust to fit your toast height */
  overflow: hidden;
}

.toast-success {
  box-shadow: 4px 4px 16px rgba(92, 255, 42, 0.15);
  border: 1px solid rgba(92, 255, 42, 0.15);
  color: rgb(98 203 0);
}

.toast-error {
  box-shadow: 4px 4px 16px rgb(255 0 0 / 15%);
  border: 1px solid rgb(255 0 0 / 15%);
  color: rgb(255 69 69);
}

.toast-warn {
  box-shadow: 4px 4px 16px rgba(255, 123, 0, 0.15);
  border: 1px solid rgba(255, 123, 0, 0.15);
  color: rgb(255, 123, 0);
}

.toast-info {
  box-shadow: 4px 4px 16px rgb(0 215 204 / 15%);
  border: 1px solid rgb(0 215 204 / 15%);
  color: rgb(0 155 147);
}

.toast-debug {
  box-shadow: 4px 4px 16px rgb(202 0 255 / 15%);
  border: 1px solid rgb(255 0 0 / 15%);
  color: rgb(251 90 255);
}

.toast .toast-icon {
  font-size: 1.4em;
  opacity: 0.85;
}

.toast-invisible {
  opacity: 0;
  pointer-events: none;
  margin-bottom: -16px;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(-40px) scale(0.95);
}

@keyframes toast-in {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes toast-out {
  to {
    opacity: 0;
    transform: translateY(-100px) scale(0.95);
  }
}

@keyframes toast-fadeout {
  to {
    opacity: 0;
    transform: translateY(-100px) scale(0.95);
  }
}
